<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SOC</title>
    <link rel="icon" type="image" href="logo.png" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="root">
      <div class="row0">
        <div class="logo">
          <img src="logo.png"/>
          <h1>ប្រព័ន្ធត្រួតពិនិត្យ និងតាមដានកុំព្យូទ័រដែលបានឆ្លងវីរុស</h1>
        </div>

        <div class="header-right">
          <div class="info1" style={{backgroundColor:prop.thiscolor}}>
            <img src="logo.png" />
            <h3>{prop.value}</h3>
            <h4>{prop.name}</h4>
          </div>
          <div class="info1" style={{backgroundColor:prop.thiscolor}}>
            <img src="logo.png" />
            <h3>{prop.value}</h3>
            <h4>{prop.name}</h4>
          </div>
          <div class="info1" style={{backgroundColor:prop.thiscolor}}>
            <img src="logo.png" />
            <h3>{prop.value}</h3>
            <h4>{prop.name}</h4>
          </div>
          <div class="info1" style={{backgroundColor:prop.thiscolor}}>
            <img src="logo.png" />
            <h3>{prop.value}</h3>
            <h4>{prop.name}</h4>
          </div>
          <div class="info1" style={{backgroundColor:prop.thiscolor}}>
            <img src="logo.png" />
            <h3>{prop.value}</h3>
            <h4>{prop.name}</h4>
          </div>
        </div>
      </div>

      <div class="row0-1">
        <button class="button-Filter">hello</button>
      </div>

      <div class="row1">
        <div class="info2">
          <h3>{prop.title}</h3>
          <div class="info2-graph">
            <div class="chart0" id="chart0"></div>
          </div>
        </div>
        <div class="info2">
          <h3>{prop.title}</h3>
          <div class="info2-graph">
            <div class="chart0" id="chart0"></div>
          </div>
        </div>
        <div class="info2">
          <h3>{prop.title}</h3>
          <div class="info2-graph">
            <div class="chart0" id="chart0"></div>
          </div>
        </div>
      </div>

      <div class="row2">
        <div class="info3">
          <h3>{prop.title}</h3>
          <div class="info3-graph">
            <div id="chart0"></div>
          </div>
        </div>
        <div class="info3">
          <h3>{prop.title}</h3>
          <div class="info3-graph">
            <div id="chart0"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
